HOST_DNS=localhost
PORT=8081
BASE_URL=http://localhost:8081

APP_NAME=TreadMeal
SUPER_ADMIN=admin
SUPER_EMAIL=admin@core.com
SUPER_PWD=admin
CRYPTO_KEY=genius
SECRET_KEY=h0p1t4lM4n4gement
SECRET_REFRESH_KEY=M@g1cM3@l
TOKEN_LIFE=86400

SMTP_SERVER=a
SMTP_USERNAME=a
SMTP_PASSWORD=a
ADMIN_EMAIL=a

API_PREFIX=api

DATABASE_URL="postgresql://postgres:sup3r8w07d@localhost:5432/hm?schema=public"
DATABASE_URL="postgres://yetdpgkmllmzsw:0530d1188d341cd32265f07df4d2fc5662f6612cdabcdfb414e9c0e17c19a81a@ec2-34-195-69-118.compute-1.amazonaws.com:5432/d34b2uqh6158q7"
