<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Helvetica&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=SF+Pro Text&display=swap" rel="stylesheet">
</head>

<body>
    <center>
        <div style="width:343px">
            <p style="font-weight: bold; font-size: 18px; text-align: center; font-family: Helvetica;">Verify your email
                address
            </p>
            <p style="text-align: center; font-family: Helvetica;">Hi {{firstName}} {{lastName}},</p>
            <p style="text-align: center; font-family: Helvetica;">Please confirm that you want to use this as your 
                TreadMeal account email
                address by clicking the button below</p>
            <a href="{{hyperLink}}">
                <button
                    style="color: white; background-color: #565be9; border-radius: 3px; border-width: 0px; text-align: center; width: 311px; height: 40px; font-family: Helvetica;">
                    Verify my email
                </button>
            </a>
            <p style="text-align: center; font-family: SF Pro Text;">This verification link will expire in 30 minutes
            </p>
        </div>
    </center>
</body>

</html>